<?xml version="1.0"?>
<launch>
    <!-- Activity computation node -->
    <arg name="calibration_file" default="$(find phds_gegi_driver)/config/EnergyCal.csv"/>
    <arg name="isotopes_config" default="$(find phds_gegi_driver)/config/isotopes.yaml"/>
    <arg name="counting_window_s" default="60.0"/>
    <arg name="spectrum_topic" default="/spectrum"/>
    <!-- Geometric solid angle fraction for tray geometry (0 = use config file value) -->
    <arg name="solid_angle_fraction" default="0.0"/>

    <node name="activity" pkg="phds_gegi_driver" type="activity_node.py" output="screen">
        <param name="calibration_file" value="$(arg calibration_file)"/>
        <param name="isotopes_config" value="$(arg isotopes_config)"/>
        <param name="counting_window_s" value="$(arg counting_window_s)"/>
        <param name="spectrum_topic" value="$(arg spectrum_topic)"/>
        <param name="solid_angle_fraction" value="$(arg solid_angle_fraction)"/>
        <param name="publish_on_window" value="true"/>
    </node>
</launch>
