<?xml version="1.0"?>
<launch>
    <arg name="output_dir" default="/opt/phds_gegi_driver/data"/>
    <arg name="calibration_file" default="$(find phds_gegi_driver)/config/EnergyCal.csv"/>
    <arg name="source_distance_m" default="0.5"/>
    <arg name="heatmap_grid_res" default="200"/>

    <node name="data_recorder" pkg="phds_gegi_driver" type="data_recorder_node.py" output="screen">
        <param name="output_dir" value="$(arg output_dir)"/>
        <param name="calibration_file" value="$(arg calibration_file)"/>
        <param name="source_distance_m" value="$(arg source_distance_m)"/>
        <param name="heatmap_grid_res" value="$(arg heatmap_grid_res)"/>
    </node>
</launch>
