<?xml version="1.0"?>
<launch>
    <arg name="gegi_ip" default="192.168.50.109"/>
    <arg name="gegi_port" default="27015"/>

    <node name="driver" pkg="phds_gegi_driver" type="phds_gegi_driver_node" output="screen">
        <param name="gegi_ip" value="$(arg gegi_ip)" />
        <param name="gegi_port" type="string" value="$(arg gegi_port)" />
        <param name="event_topic" value="/compton_event" />
        <param name="energy_topic" value="/energy_deposit" />
        <param name="detector_frame" value="detector" />
    </node>
</launch>