<?xml version="1.0"?>
<launch>
    <!-- Standalone spectrum node. Subscribes to /energy_deposit, publishes /spectrum. -->
    <arg name="calibration_file" default="$(find phds_gegi_driver)/config/EnergyCal.csv"/>
    <arg name="publish_rate_hz" default="4.0"/>
    <arg name="energy_topic" default="/energy_deposit"/>
    <arg name="spectrum_topic" default="/spectrum"/>
    <arg name="node_name" default="spectrum"/>
    <arg name="use_run_info_deadtime" default="true"/>
    <arg name="run_info_service" default="/detector/get_run_info"/>
    <arg name="dead_time_poll_hz" default="1.0"/>
    <arg name="use_dead_time_topic" default="false"/>
    <arg name="dead_time_topic" default="/detector/dead_time_percent"/>
    <arg name="publish_dead_time_topic" default="false"/>

    <node name="$(arg node_name)" pkg="phds_gegi_driver" type="spectrum_node.py" output="screen">
        <param name="calibration_file" value="$(arg calibration_file)" />
        <param name="publish_rate_hz" type="double" value="$(arg publish_rate_hz)" />
        <param name="energy_topic" value="$(arg energy_topic)" />
        <param name="spectrum_topic" value="$(arg spectrum_topic)" />
        <param name="detector_frame" value="detector" />
        <param name="use_run_info_deadtime" type="bool" value="$(arg use_run_info_deadtime)" />
        <param name="run_info_service" value="$(arg run_info_service)" />
        <param name="dead_time_poll_hz" type="double" value="$(arg dead_time_poll_hz)" />
        <param name="use_dead_time_topic" type="bool" value="$(arg use_dead_time_topic)" />
        <param name="dead_time_topic" value="$(arg dead_time_topic)" />
        <param name="publish_dead_time_topic" type="bool" value="$(arg publish_dead_time_topic)" />
    </node>
</launch>
